@import url('https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&family=Sancreek&display=swap');

:root {
  --backgroundColor: #fff;
  --foregroundColor: #111;

  --primaryColor: #635a47;
  --primaryShade1: #f1deb9;
  --primaryShade2: #bba271;
  --primaryShade3: #967526;
  --primaryShade4: #6b541f;
  --primaryShade5: #2f2103;

  --secondaryColor: #de5095;
  --secondaryShade1: #f0c5da;
  --secondaryShade2: #cb80a5;
  --secondaryShade3: #a73a70;
  --secondaryShade4: #791447;
  --secondaryShade5: #38061f;

  --accentColor: #009643;
  --accentShade1: #ace6c6;
  --accentShade2: #73b892;
  --accentShade3: #468e66;
  --accentShade4: #246943;
  --accentShade5: #0e4225;

  --accent2Color: #8bc34a;
  --accent2Shade1: #e7f6d5;
  --accent2Shade2: #c5e1a5;
  --accent2Shade3: #aed581;
  --accent2Shade4: #689f38;
  --accent2Shade5: #558b2f;

  --accent3Color: #f44336;
  --accent3Shade1: #ffdde0;
  --accent3Shade2: #ffcdd2;
  --accent3Shade3: #ef9a9a;
  --accent3Shade4: #d32f2f;
  --accent3Shade5: #b71c1c;

  --neutralShade1: #f2f2f2;
  --neutralShade2: #e8e9e9;
  --neutralShade3: #d1d3d4;
  --neutralShade4: #babdbf;
  --neutralShade5: #808488;
  --neutralShade6: #666a6d;
  --neutralShade7: #4d5052;
  --neutralShade8: #212122;

  --grayColor: #999;
  --lightGrayColor: #ddd;

  /* Fonts */
  --copyFontFamily: "Cousine", sans-serif;
  --headingFontFamily: "Sancreek", serif;
  /* Change default root font size (16px), if desired */
  font-size: 18px;

  /* You can also use it for generally applied sizing and spacing. */
  --borderRadius: 6px;
  --boxShadow: 0 2px 5px rgba(#333, 0.2);
}

/* GENERAL COLOR SCHEME */
body {
  background: var(--backgroundColor);
  color: var(--neutralShade8);
}

/*==========
  TYPOGRAPHY
===========*/

/* Font Families */
body { font-family: var(--copyFontFamily); }
h1,h2,h3 { font-family: var(--headingFontFamily); }

/* Emphasis and Bolding */
strong { font-weight: 500; }
em { font-style: italic; }

/* Font Weight, Sizing & Spacing */
body {
  font-weight: 300;
  line-height: 1.5;
  transition: all 0.3s ease;
}
h1 {
  font-weight: 700;
  font-size: clamp(2.5rem,3rem,3.5rem);
  line-height: 1.2;
  text-transform: uppercase;
}
h2 {
  font-weight: 500;
  font-size: clamp(1.75rem,2rem,2.5rem);
  line-height: 1.2;
  text-transform: uppercase;
}
h3 {
  font-weight: 500;
  font-size: clamp(1.25rem,1.5rem,1.75rem);
  line-height: 1.2;
}
h4 {
  font-weight: 300;
  font-size: clamp(1.25rem,1.5rem,1.75rem);
  line-height: 1.2;
  font-style: italic;
}
h5 {
  font-weight: 300;
  font-size: 1.05rem;
  line-height: 1.2;
}
h6 {
  font-weight: 200;
  font-size: 1.05rem;
  line-height: 1.2;
}

a { font-weight: 500; }

/* Default Font Colors & Styling */

/* default links */
a {
  color: var(--neutralShade8);
  border-bottom: 2px dashed;
  cursor: pointer;
  transition: 0.4s;
}
a:hover {
  color: var(--neutralShade1);
  background-color: var(--primaryColor);
  border-bottom: 3px solid var(--primaryShade5);
  transition: 0.4s;
}

/* primary color links */
a.primary {
  color: var(--primaryColor);
  border-bottom: 2px dashed;
  cursor: pointer;
  transition: 0.4s;
}
a.primary:hover {
  color: var(--primaryShade1);
  background-color: var(--primaryShade4);
  border-bottom: 3px solid var(--secondaryColor);
  transition: 0.4s;
}

/* secondary color links */
a.secondary {
  color: var(--secondaryShade5);
  border-bottom: 2px dashed;
  cursor: pointer;
  transition: 0.4s;
}
a.secondary:hover {
  color: var(--secondaryShade1);
  background-color: var(--secondaryShade4);
  border-bottom: 3px solid var(--primaryColor);
  transition: 0.4s;
}

body {
    max-width: 800px;
    margin: auto;
}

div {
width: 200px;
  height: 100px;
  border: 5px dashed var(--secondaryColor);
  padding: 10px;
  margin: 10px;
}