/* 
  Below are 2 kinds of comments: 

  1) The usual prompts.
  2) Comments that document what to
     write underneath. They use all 
     capitals for major areas and then
     a regular capitalization scheme for
     subsections in that area.

  When put together, I hope they provide
  you with some clues for both your CSS 
  AND your HTML.
*/

/* GENERAL */

html {
  font-size: 20px;
}

/* TYPOGRAPHY */

/* 
  Take stock of your headings vs.
  paragraph elements and write some
  rules.

  Use the root element relative 
  length unit, which the readings
  describe for you. Make sure you
  know how these values are in 
  relation to something you defined
  above.
*/
p {
  font-size: 0.90em;
}

/* HEADER */

/* 
  Write a more general selection of the containing
  element for this area of the site.

  How can you apply some whitespace and color rules
  to mimic the site example.
*/
header {
  background-color: lightcoral;
}

/* Logo Box */

/* 
  How could you group the image and 
  'LingerPizza' together? Then how to
  float it?
*/


/* Header Navigation */

/* 
  After the grouped content above,
  there seems to be a nav!
  
  Check out this article:
  https://www.blustemy.io/styling-inline-lists-in-css/

  Note how to select list items and 
  use the display property to change its
  typical block behavior.

  Then, lookup the 'text-align' rule and
  consider what element to select and apply it
  there.
*/


/* MAIN */

/* 
  How could you select a main wrapper 
  and apply some white space here to make it
  look purrrrrdy?
*/


/* CARDS */

/* 
  Almost done!

  Create a card class component and consider
  a similar float technique to apply to the pizza
  menu items.

  Try to be semantically meaningful with your
  class names. We have a nice context to consider for
  your class names here.

  Also, use the HTML hierarchy to select more
  specific items within each menu item card.
*/

/* 
  BONUS!!

  Ok, by now, you're probably frustrated with the 
  heading for the Classic section. Why is it doing
  that?!

  This is a bonus. Research the clear: both technique
  in this article: 
  https://www.smashingmagazine.com/2009/10/the-mystery-of-css-float-property/
  
  See if you can figure out where to apply this rule 
  to resolve that issue.
 */