.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    justify-items: center;
    align-items: center;
    padding: 25px;
}

.top-left-flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

.bottom-right-flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}