body {
  width: 85%;
  margin: 10px;
}

header {
  background-color: rgb(215, 154, 238)
}

nav ul {
  list-style: none;
  display: flex;
  margin: 2rem;
  justify-content: space-evenly;
  background-color: rgb(168, 173, 240);

}

footer {
  background-color: rgb(240, 168, 231);
}

.article {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/*tablet*/
@media (min-width: 768px) {
  .article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 15px;
    margin: 2rem;
    column-gap: 1rem;
  }
}

/*desktop computers*/
@media (min-width: 1080px) {
  .article {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    font-size: 20px;
    margin: 2em;
    column-gap: 2rem;
  }
}