.wireframe-1 {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.element-1 {
  align-self: flex-start;
  width: 250px;
}

.element-2 {
  align-self: center;
  width: 250px;
}

.element-3 {
  align-self: flex-end;
  width: 250px;
}

.wireframe-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/*
  NOTICE how your portion classes are all the same
  except for the color. Consider creating a 'portion'
  class with those shared values and then use a second
  class per color, e.g., 'orange-portion', etc. with
  the background-color rule.
*/
.portion-1 {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.portion-2 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: orange;
}

/* Double check your HTML parent-children for portion 3 */
.portion-3 {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

/* 
  See what happens when I use 
  the flex rule on the flexbox children items
*/
.portion-1 > *,
.portion-2 > *,
.portion-3 > * {
  flex: 1 1 300px;
}


.footer {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  background-color: orange;
}

.wireframe-3 {
  display: flex;
  flex-direction: column;
}

.top-text-1 {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.top-text-2 {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.centerpiece {
  display: flex;
  align-self: center;
  width: 250px;
}

.bottom-text-1 {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.bottom-text-2 {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.footer-2 {
  background-color: blue;
}