@import url('https://fonts.googleapis.com/css2?family=Metamorphous&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --backgroundColor: #f5f5f5;
  --foregroundColor: #0b3036;

  --primaryColor: #91c6cf;
  --primaryShade1: #b1fcef;
  --primaryShade2: #B1D9FC;
  --primaryShade3: #9CD5DF;
  --primaryShade4: #9CDFBD;
  --primaryShade5: #B1C1FC;

  --secondaryColor: #E3E3E3;
  --secondaryShade1: #C6C6C6;
  --secondaryShade2: #AAAAAA;
  --secondaryShade3: #8E8E8E;
  --secondaryShade4: #727272;
  --secondaryShade5: #565656;

  --accentColor: #0b3036;
  --accentShade1: #114A53;
  --accentShade2: #176571;
  --accentShade3: #1C7E8D;
  --accentShade4: #00796b;
  --accentShade5: #27B0C5;

  --accent2Color: #16466E;
  --accent2Shade1: #1C598B;
  --accent2Shade2: #16626E;
  --accent2Shade3: #1C7C8B;
  --accent2Shade4: #1C7D8C;
  --accent2Shade5: #2297A9;

  --accent3Color: #B1FCF0;
  --accent3Shade1: #9CDFD4;
  --accent3Shade2: #87C1B7;
  --accent3Shade3: #73A59C;
  --accent3Shade4: #608981;
  --accent3Shade5: #4C6D66;

  --neutralShade1: #E1EED7;
  --neutralShade2: #EAEDD5;
  --neutralShade3: #D6EDD5;
  --neutralShade4: #BCD0BB;
  --neutralShade5: #D1CFBC;
  --neutralShade6: #D0CEBB;
  --neutralShade7: #BBD0C2;
  --neutralShade8: #D5EDDD;

  --grayColor: #A9A9A9;
  --lightGrayColor: #ddd;

  /* Fonts */
  --copyFontFamily: "Open Sans", sans-serif;
  --headingFontFamily: "Metamorphous", serif;
  /* Change default root font size (16px), if desired */
  font-size: 18px;

  /* You can also use it for generally applied sizing and spacing. */
  --borderRadius: 6px;
  --boxShadow: 0 2px 5px rgba(#333, 0.2);
}


/*
  After you define your color schemes above, revise the color and typography rulesets below in accordance with your desired new font families, weights, line-heights, etc. You can even modify which variables are being used.
*/

/* GENERAL COLOR SCHEME */
body {
  background: var(--backgroundColor);
  color: var(--foregroundColor);
}

/*==========
  TYPOGRAPHY
===========*/

/* Font Families */
body { font-family: var(--copyFontFamily); }
h1,h2,h3 { font-family: var(--headingFontFamily); }

/* Emphasis and Bolding */
strong { font-weight: 400; }
em { font-style: italic; }

/* Font Weight, Sizing & Spacing */
body {
  font-weight: 300;
  line-height: 1.5;
  transition: all 0.3s ease;
}
h1 {
  font-weight: 900;
  font-size: clamp(2.5rem,3rem,3.5rem);
  line-height: 1.2;
  text-transform: uppercase;
}
h2 {
  font-weight: 700;
  font-size: clamp(1.75rem,2rem,2.5rem);
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--accentShade4);
}
h3 {
  font-weight: 600;
  font-size: clamp(1.25rem,1.5rem,1.75rem);
  line-height: 1.2;
}
h4 {
  font-weight: 400;
  font-size: clamp(1.25rem,1.5rem,1.75rem);
  line-height: 1.2;
  font-style: italic;
}
h5 {
  font-weight: 300;
  font-size: 1.05rem;
  line-height: 1.2;
}
h6 {
  font-weight: 200;
  font-size: 1.05rem;
  line-height: 1.2;
}

a { font-weight: 400; }

/* Default Font Colors & Styling */

/* default links */
a {
  color: var(--accent2Color);
  border-bottom: 2px var(--accentColor);
  cursor: pointer;
  transition: 0.4s;
}
a:hover {
  color: var(--accent3Color);
  background-color: var(--primaryColor);
  border-bottom: 3px solid var(--accent3Shade1);
  transition: 0.4s;
}

/* primary color links */
a.primary {
  color: var(--primaryColor);
  border-bottom: 2px dashed;
  cursor: pointer;
  transition: 0.4s;
}
a.primary:hover {
  color: var(--primaryShade1);
  background-color: var(--primaryShade4);
  border-bottom: 3px solid var(--secondaryColor);
  transition: 0.4s;
}

/* secondary color links */
a.secondary {
  color: var(--secondaryShade5);
  border-bottom: 2px dashed;
  cursor: pointer;
  transition: 0.4s;
}
a.secondary:hover {
  color: var(--secondaryShade1);
  background-color: var(--secondaryShade5);
  border-bottom: 3px solid var(--primaryColor);
  transition: 0.4s;
}

body {
  max-width: 800px;
  margin: auto;
  padding: 1rem;
}