@import url('https://fonts.googleapis.com/css2?family=Mukta+Mahee:wght@200;300;400;500;600;700;800&family=Simonetta:ital,wght@0,400;0,900;1,400;1,900&display=swap') ;


:root {
  --backgroundColor: #7A2424;
  --foregroundColor: #D8D8D8;

  --primaryColor: #FF0000;
  --primaryShade1: #D52323;
  --primaryShade2: #E20000;
  --primaryShade3: #332B2B;
  --primaryShade4: #553939;
  --primaryShade5: #804040;

  --secondaryColor: #D13FD1;
  --secondaryShade1: #B436B4;
  --secondaryShade2: #982E98;
  --secondaryShade3: #7C257C;
  --secondaryShade4: #601D60;
  --secondaryShade5: #441444;

  --accentColor: #D9D9D9;
  --accentShade1: #E3E3E3;
  --accentShade2: #C7C7C7;
  --accentShade3: #BCBCBC;
  --accentShade4: #A9A9A9;
  --accentShade5: #525252;

  --accent2Color: #333333;
  --accent2Shade1: #5A5A5A;
  --accent2Shade2: #3E3E3E;
  --accent2Shade3: #5A5A5A;
  --accent2Shade4: #202020;
  --accent2Shade5: #222222;

  --accent3Color: #BCBCBC;
  --accent3Shade1: #F8F8F8;
  --accent3Shade2: #B4B4B4;
  --accent3Shade3: #929292;
  --accent3Shade4: #707070;
  --accent3Shade5: #4E4E4E;

  --neutralShade1: #A73131;
  --neutralShade2: #CB3B3B;
  --neutralShade3: #AE3333;
  --neutralShade4: #922A2A;
  --neutralShade5: #762222;
  --neutralShade6: #5A1A1A;
  --neutralShade7: #3E1212;
  --neutralShade8: #220A0A;

  --grayColor: #999;
  --lightGrayColor: #ddd;

  /* Fonts */
  --copyFontFamily: "Mukta Mahee", sans-serif;
  --headingFontFamily: "Simonetta", serif;
  /* Change default root font size (16px), if desired */
  font-size: 17px;

  /* You can also use it for generally applied sizing and spacing. */
  --borderRadius: 6px;
  --boxShadow: 0 2px 5px rgba(#333, 0.2);
}


body {
  background: var(--primaryShade5);
  color: var(--foregroundColor);
}

/*==========
  TYPOGRAPHY
===========*/

/* Font Families */
body { font-family: var(--copyFontFamily); }
h1,h2,h3 { font-family: var(--headingFontFamily); }

/* Emphasis and Bolding */
strong { font-weight: 500; }
em { font-style: italic; }

/* Font Weight, Sizing & Spacing */
body {
  font-weight: 300;
  line-height: 1.5;
  transition: all 0.3s ease;
}
h1 {
  font-weight: 700;
  font-size: clamp(2.5rem,3rem,3.5rem);
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--accentColor);
}
h2 {
  font-weight: 500;
  font-size: clamp(1.75rem,2rem,2.5rem);
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--accent3Shade1);
}
h3 {
  font-weight: 500;
  font-size: clamp(1.25rem,1.5rem,1.75rem);
  line-height: 1.2;
}
h4 {
  font-weight: 300;
  font-size: clamp(1.25rem,1.5rem,1.75rem);
  line-height: 1.2;
  font-style: italic;
}
h5 {
  font-weight: 300;
  font-size: 1.05rem;
  line-height: 1.2;
}
h6 {
  font-weight: 200;
  font-size: 1.05rem;
  line-height: 1.2;
}

a { font-weight: 500; }

/* Default Font Colors & Styling */

/* default links */
a {
  color: var(--accentShade1);
  border-bottom: 1px dashed;
  cursor: pointer;
  transition: 0.4s;
}
a:hover {
  color: var(--accent2Color);
  background-color: var(--primaryColor);
  border-bottom: 3px solid var(--primaryShade5);
  transition: 0.4s;
}

/* primary color links */
section a  {
  color: var(--neutralShade5);
  border-bottom: 2px dashed;
  cursor: pointer;
  transition: 0.4s;
}
section a:hover {
  color: var(--foregroundColor);
  background-color: var(--backgroundColor);
  border-bottom: 3px solid var(--accent3Shade1);
  transition: 0.4s;
}

/* secondary color links */
a.secondary {
  color: var(--secondaryShade5);
  border-bottom: 2px dashed;
  cursor: pointer;
  transition: 0.4s;
}
a.secondary:hover {
  color: var(--secondaryShade1);
  background-color: var(--secondaryShade5);
  border-bottom: 3px solid var(--primaryColor);
  transition: 0.4s;
}

/* Body */
body {
  max-width: 800px;
  margin: auto;
  padding: 1rem;
}

footer {
  padding-top: 2rem;
  background-color: var(--accent2Shade1);
}
