/* 
  - BE SURE to practice inspecting your code's
  results in  your Chrome/Firefox browser.

  - You can also adjust values in your browser,
  and plug them in here.

  - DO NOT push your code iteratively as usual. 
    I want everyone to have a chance to
    work through this drill.

  - Delete/Add comments as you like and need.

  -  Finally, be sure to save your files, before
  reviewing them in the browser.
 */


/* Select the ul with the class 'card-wrapper' */

  /* 
    Research this rule & what it can do.
    - Make it so there's no styling for the list items
    */
  .card.ul.card-wrapper {
  list-style-type: circle;
}

/* Select the 'card' class */
  /*
    Lookup each rule and 
    configure the card box
    styles to your liking.
    */
.card {
  background-color: blue;
  border-radius: 100px;
  padding-bottom: 50px;
  max-width: 50px;
}

/* 
  Using a descendant combinator,
  select any h3 element that is a
  descendant of the 'card' class
  */

  /*
    Lookup each rule and 
    configure the card's
    h3 styles to your liking.
    */
  .card h3 {
  margin-top: 40px;
  font-size: large;
}


 .card img [
  border-radius: 30px; in;
  width: 25px
}


.card img {
  /* 
    - What elements are impacted
      by this selection?
    - How could you provide uniform
      spacing on each side of these
      elements? */
  margin-left: 30px;
  margin-right: 30px;
}

/* 
  After completing the above prompts,
  go back up to the .card class declaration 
  block and add a 'float: left;' declaration.

  See what happens.

  Maybe add some margins to incorporate
  some lovely whitespace for our cards.
 */
