/* 
  - BE SURE to practice inspecting your code's
  results in  your Chrome/Firefox browser.

  - You can also adjust values in your browser,
  and plug them in here.

  - DO NOT push your code iteratively as usual. 
    I want everyone to have a chance to
    work through this drill.

  - Delete/Add comments as you like and need.

  -  Finally, be sure to save your files, before
  reviewing them in the browser.
 */


/* Select the ul with the class 'card-wrapper' */
ul.card-wrapper
{
  /* 
    Research this rule & what it can do.
    - Make it so there's no styling for the list items
    */
  list-style-type: none;
}

/* Select the 'card' class */
.card
{
  /*
    Lookup each rule and 
    configure the card box
    styles to your liking.
    */
  background-color: rgba(34, 106, 240, 0.199);
  border-radius: 200px;
  padding-bottom: 5%;
  max-width: 300px;
  float: left;
}

/* 
  Using a descendant combinator,
  select any h3 element that is a
  descendant of the 'card' class
  */
.card h3
{
  /*
    Lookup each rule and 
    configure the card's
    h3 styles to your liking.
    */
  margin-top: 50px;
  font-size: 45px;
  font-family: serif; 
}
.card > img 
/* 
  Using a child combinator,
  select any img element that is a
  direct child of the 'card' class
  */
{
  /*
    Lookup each rule and 
    configure the card's
    img styles.
    */
  border-radius: 300px;
  width: 100%; /*Try using 100% as a value*/
}
.card img ~ *
/* 
  Using a general sibling combinator,
  select any element that is a
  general sibling of the img element.
  HINT: Look up the 'universal' selector.
  */
{
  /* 
    - What elements are impacted
      by this selection?
    - How could you provide uniform
      spacing on each side of these
      elements? 

      */
  color: rgb(18, 13, 95);
  margin-left: 10%;
  margin-right: 10%;
}

/* 
  After completing the above prompts,
  go back up to the .card class declaration 
  block and add a 'float: left;' declaration.

  See what happens.

  Maybe add some margins to incorporate
  some lovely whitespace for our cards.
 */
 .card 
 {
   margin-left: 10%;
   padding-top: 0px;
   padding-left: 10px;
   padding-right: 10px;
   border-style: solid;
   border-color: pink;
 }
h3 
{ 
text-align: center;
}
p 
{
  text-align: center;
  padding-bottom: 30px;
  font-family: sans-serif;
}
h1
{
  font-family: georgia; 
  text-align: right;
  font-size: 75px;
}