@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:ital,wght@0,400;1,300&display=swap');

html {font-size: 20px;}

body {font-size: 1rem;  }
h1 { font-size: 2rem; } 
h2 { font-size: 1.75rem; } 
h3 { font-size: 1.5rem; }
h4 { font-size: 0.75rem; }
p  { font-size: 1rem; }
blockquote { font-size: 1rem; }

@font-face {
  font-family: 'Playfair Display';
  src: url(https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:ital,wght@0,400;1,300&display=swap) format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto Itallic';
  src: url(https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:ital,wght@0,400;1,300&display=swap) format('woff');
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto';
  src: url(https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:ital,wght@0,400;1,300&display=swap) format('woff');
  font-weight: 400;
}

p  { font-family: 'Roboto'; }
h1,h2,h3 { font-family: 'Playfair Display'; }
h4 { font-family: 'Roboto Itallic'; }
blockquote { font-family: 'Playfair Display'; }