/*STUDY IN CONTRAST*/

.grid-contrast {
    display: grid;
    grid-template-areas: 
    "nav-1 acnav nav-2"
    "main main main"
    "bar bar bar";
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 400px 400px 400px;
}
.ac-nav {
    grid-area: acnav;
    background-color: red;
}

.ac-nav-logo {
    grid-area: nav-1;
    background-color: red;
    color: white;
    padding: 20px;
}

.ac-nav-login {
    grid-area: nav-2;
    background-color: red;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
}

.main-content {
    grid-area: main;
    background-image: url(https://animal-crossing.com/assets/icons/share_icon.jpg);
    background-size: 900px 400px;
}   

.birthday-bar {
    grid-area: bar;
    background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 30px;
}

.main-content p {
    background-color: burlywood;
    max-width: fit-content;
    max-height: fit-content;
    padding: 10px;
    margin-left: 315px;
    margin-top: 325px;
}

.birthday-bar p {
    color: gold;
}

.birthday-bar h3 {
    color: white;
}

.birthday-bar img {
    max-width: 200px;
    max-height: 200px;
}
