.box2 {
  display: flex;
  justify-content: center;
}

.box3 {
  display: flex;
  justify-content: flex-end;
}

.p1 {
  display:flex;
  flex-direction: column;
  justify-content: baseline;
}

.section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}