html {
  display: grid;
}

.header {
  grid-area: header;
}

.terry-pic {
  grid-area: terry-pic;
  justify-self: center;
}

.terry-name {
  grid-area: terry-name;
  justify-self: center;
}

.terry-text {
  grid-area: terry-text;
  justify-self: center;
}

.footer {
  grid-area: footer;
}

.container {
  display: grid;
  grid-template-columns: 300px 1fr 300px;
  grid-template-rows: 100px 1fr 1fr 100px;
  grid-gap: 1rem;
  grid-template-areas: 
  "header header header"
  ". terry-pic terry-name ."
  ". terry-text ."
  "footer footer footer";
}

