.flex-container {
    display: flex;
    justify-content: center;
    background-color: rgb(35, 104, 81);

}

.flex-item {
color: azure;
padding: 20px;
text-align: center;

}

.image-container {
    display: flex;
    flex-wrap: wrap;
    object-fit: cover;
}
.flex-header {
    display: flex;
    color: bisque;
    text-align: justify;
}