body {
  font-size: 20px;
}
main {
  padding-left: 40px;
}
header > section.picheaderbanner > h1 {
  font-size: 80%;
  color: white;
  padding-top: 37px;
}
header > section.picheaderbanner > img {
  float: left;
  margin: 20px;
  border-radius: 70px;
}
header > section.navbanner > nav > ul > li > a {
  color: white;
}
header > section.navbanner > nav > ul > li {
  font-size: 80%;
  list-style: none;
  display: inline-block;
}
header > section.navbanner > nav {
  text-align: end;
  margin-top: -2.7%;
  margin-right: 15px
}
header {
  background-color: salmon;
  padding-bottom: 10px;
}
section.specials > img {
  border-radius: 100%;
}
section.specials {
  border: solid black;
  min-width: 20%;
  max-width: 20%;
  padding-left: 20px;
  padding-right: 20px;
  float: left;
  margin-right: 15px;
}
div.clear {
  clear: both;
}
section.specials > ul > li {
  list-style: none;
  text-indent: -38px;
}