section {
  display: flex;
  flex-direction: column;
}
section.sect1 {
  margin-bottom: 3rem;
}
section.sect1 > h1 {
  font-size: 2rem;
}
img {
  align-self: flex-start;
}
section.sect1 > p {
  width: 20rem;
  align-self: center;
}
img.sect1-rimg {
  align-self: flex-end;
}
section.sect2-1 {
  flex-direction: row;
}
section.sect2-1 > img {
  width: 96.3rem;
  margin-left: 1rem;
}
section.sect2-2 {
  background-color: cornflowerblue;
  flex-direction: row;
}
section.sect2-2 > img {
  width: 96.3rem;
  margin-right: 1rem;
}
section.sect2-3 {
  flex-direction: row;
}
section.sect2-3 > img {
  width: 100.6rem;
  margin-left: 1rem;
}
section.sect2-4 {
  flex-direction: row;
  justify-content: space-evenly;
  background-color: cornflowerblue;
}
