img.circle {
  border-radius: 100%
}
section.sec1 {
  display: grid;
  grid-template-columns: 400px minmax(15rem, 25rem) 50px;
}
section.sec2 {
  display: grid;
  grid-template-columns: 400px minmax(15rem, 25rem) 50px;
}
section.sec3 {
  display: grid;
  grid-template-columns: 400px minmax(15rem, 25rem) 50px;
}
section {
  margin-bottom: 40px;
}