.grid-container {
    display: grid;
    grid-template-columns: 200px 1fr 150px;
    grid-template-rows: 50vh 1fr 1fr 1fr 150px;
    margin: .5rem;
    gap: 1rem;
    grid-template-areas: 
    "image-1"
    "textbox-1"
    "image-2"
    "footer footer footer";
  }

  .image-1 {
    grid-area: image-1;
  }

  .textbox-1 {
    grid-area: textbox-1;
    margin-bottom: 5rem;
    border: 2px solid violet;
    padding-left: 2%;
  }

  .image-2 {
      grid-area: image-2;
  }

  .footer {
      grid-area: footer;
      margin-bottom: 5rem;
      border: 4px solid green;
      padding-left: 2%;
  }