@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,400&family=Volkhov:wght@700&display=swap');

html {
  font-size: 20px;
}
.container {
  display: grid;
  gap: 1em;
  grid-auto-rows: auto;
  grid-template-areas: 
    "header header main main main" 
    "header header main main main"
    "header header main main main"
    "header header main main main"
    "header header footer footer footer"
    "header header footer footer footer";
  grid-template-columns: 10px repeat(4, 1fr); 
  }
  
  .container > * {
    padding: 40px;
  }
  
  header { 
    background-color: rgb(54, 55, 59);
    color:white;
    grid-area: header;
  }
  
  main {
    grid-area: main;
  
  }
  
  
  footer {
    grid-area: footer; 
    
  }
  
h1 {
  font-family: 'Volkhov', serif;
  font-size: 2.25rem;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 300;
}

p, a {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

  header ul {
    list-style: none;
  }

  header li {
    padding: 20px;
  }

  header a {
    color: white;
    font-size: 20px;
    text-decoration: none;
  }

  .card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    margin: -10px;
  }
  
  article {
    max-width: 250px;
    border: 1px solid black;
    border-radius: 1rem;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 60px;
  }

  article > p {
    width: 70%
  }

  button {
    background-color: lightgrey;
  }

  button a {
    color: black;
    font-size: 0.75rem;
    text-decoration: none;
  }

