.container {
    display: flex;
    flex-direction: column;
    height: auto;
}

.topimg, .midp, .bottomimg {
    flex: 1;
    display: flex;
}

.topimg {
    justify-content: flex-start;
    align-items: flex-start;
}

.midp {
    justify-content: center;
    align-items: center;
}

.bottomimg {
    justify-content: flex-end;
    align-items: flex-end;
}

.paragraph {
    max-width: 33%;
}

.container2 {
    display: flex;
    flex-direction: column;
    height: auto;
}

.row1, .row2, .row3 {
    flex: 1;
    display: flex;
}

.p1 {
    justify-content: flex-start;
    align-items: flex-start;
}

.img1 {
    justify-content: flex-end;
    align-items: flex-end;
}

.p2 {
    justify-content: flex-end;
    align-items: flex-end;
}

.img2 {
    justify-content: flex-start;
    align-items: flex-start;
}

.p3 {
    justify-content: flex-start;
    align-items: flex-start;
}

.img3 {
    justify-content: flex-end;
    align-items: flex-end;
}

.footer {
    flex: 1;
    display: flex;
}