/* 
  GOAL: Create a set of rules that will create a typography scheme.
*/
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Poiret+One&display=swap');

html {
  font-size: 1.25rem;
}
body {font-size: 1rem}
h1 {font-size: 3.75rem; line-height: 1rem; margin: .5rem} 
h2 {font-size: 2.75rem; line-height: 1rem; margin: .5rem} 
h3 {font-size: 2.25rem; line-height: 1rem; margin: .5rem}
h4 {font-size: 1.5rem; line-height: 1rem; margin: .5rem}
p  {font-size: 1rem; text-indent: 1rem; line-height: 1rem;}
blockquote {font-size: 1rem; line-height: 1rem}

body {font-family: Poiret One}
p  {font-family: Poiret One}
h1,h2,h3,h4 {font-family: Lobster Two}
blockquote {font-family: Comfortaa}

blockquote,h1,h2,h3,h4,p {
  margin-left: 5rem;
}
blockquote {
  background-color: lightpink;
  padding: 1rem;
  text-align: center;
  margin-left: 6.5rem;
  border-radius: 5rem;
}
h1,h2,h3 {
  background-color: darkcyan;
  padding: 1rem;
}
h4 {
  background-color: black;
  padding: 1rem;
  border-radius: 5rem;
  color: white;
}
img.cherry {
  width: 20px;
  margin-left: .001px;
  position: fixed;
}
img.cupcake {
  margin-top: -720px;
  width: 50px;
  display: block;
  margin-left: 17px;
}
a {
  color: darkcyan;
}
aside {
  padding-bottom: 10px;
}