img "{
    max-width: 1000px;
}"
.flex__flex_container {
    display: flex;
}
.box1 {
    padding: 10px;
    margin-right: auto;
    width: 800px;
    height: 400px;
    flex-direction: row;
    flex-grow: 1;
}
.box2 {
    display: inline;
    padding: 10px;
    content: center;
    vertical-align: middle;
    width: 800px;
    height: 400px;
    flex-grow: 1;
}
.box3 {
    padding: 10px;
    margin-left: auto;
    width: 800px;
    height: 400px;
    flex-direction: row;
    flex-grow: 1;
}