.computer {
  grid-area: computer;
  text-align: center;
}

.printer {
  grid-area: printer;
  text-align: center;
}

.printer2 {
  grid-area: printer2;
  text-align: center;
}

.mouse {
  grid-area: mouse;
  text-align: center;
}

.mac {
  grid-area: mac;
  text-align: center;
}


.button {
  background-color: aqua;
}

.ul {
  text-align :center;
}

.container > * {
  border: 0.5px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 500px 500px 500px;
  grid-template-areas: 
  ""
  }