/* General Rules/Mobile First Design */ 

header {
  background-color: olive;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

nav {
  background-color: olive;
  color: white;
}
nav li {
  list-style: none;
  padding: 25px
}

nav a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

section, article, .sidebar-1, .sidebar-2 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.sidebar-1, .sidebar-2 { 
  background-color: black;
  color: white;
  padding: 10px;
}

footer {
  background-color: olive;
  color: white;
  padding: 10px;
}

/* Tablet Design */

@media screen and (min-width: 600px) {
  /*Tablet Grid Areas Format*/
  .grid {
    display: grid;
    gap: 0.7em;
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas: 
      "header header header"
      "sidebar-1 main main" 
      "sidebar-1 main main"
      "sidebar-1 main main"
      "sidebar-1 main main"
      "sidebar-2 sidebar-2 sidebar-2"
      "footer footer footer";
    grid-template-columns: 200px repeat(2, 1fr); 
  }

  header {
    grid-area: header; 
  }

  nav {
    grid-area: nav;
    
  }
  
  main {
    grid-area: main;
  
  }
  
  .sidebar-1 {
    grid-area: sidebar-1;
  }

  .sidebar-2 {
    grid-area: sidebar-2;
  }

  footer {
    grid-area: footer; 
  }

  /* Tablet Area Adjustments */
  nav ul {
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    margin-top: -75px;  
  }

  footer p {
    margin-top: 30px;  
  }
}

/* Desktop Design */

@media screen and (min-width: 768px) {
/*Desktop Grid Areas Format*/
.grid {
  display: grid;
  gap: 0.7em;
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas: 
    "header header header header header"
    "sidebar-1 main main main sidebar-2" 
    "sidebar-1 main main main sidebar-2"
    "sidebar-1 main main main sidebar-2"
    "sidebar-1 main main main sidebar-2"
    "sidebar-1 main main main sidebar-2"
    "footer footer footer footer footer";
  grid-template-columns: 200px repeat(3, 1fr) 200px; 
}

  header {
    grid-area: header; 
  }

  nav {
    grid-area: nav;
  }
  
  main {
    grid-area: main;
  
  }
  
  .sidebar-1 {
    grid-area: sidebar-1;
  }

  .sidebar-2 {
    grid-area: sidebar-2;
  }

  footer {
    grid-area: footer; 
  }

  /* Tablet Area Adjustments */

  nav ul {
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    margin-top: -75px;  
  }

  .section-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-evenly;
  }

  article {
    max-width: 200px;
  }

  article > p {
    width: 70%
  }

  footer p {
    margin-top: 30px;  
}




