
header {
  display: flex;
  background-color: rgb(239, 234, 234);
}

.description {
  text-align: center;
  margin: 15%;
}

h1 {
  font-size: 5rem;
  margin: -186px;
  display: inline-block;
}

h2 {
  display: inline-block;
  width: 25rem;
  padding-bottom: 10rem;
}

h3 {
  position: relative;
  margin: .5em;
  width: 25rem;
}

h4 {
  font-size: 30px
}

blockquote {
  font-size: 40px;
  width: 15rem;
  line-height: 40px;
}

.flex-4-columns {
  display: grid;
  grid-template-columns: repeat(4, 230px);
  grid-gap: 2rem;
  width: 70rem;
  line-height: 20px;
  margin-top: 3rem;
  padding-left: 32rem;
}