/* 
  GOAL: Create a set of rules that will create a typography scheme.
*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Rubik:wght@300&family=Shadows+Into+Light&display=swap');

html {
  font-size: 28px;
}


body { 
  font-size: large;
  background-color: black;
 }
h1 {  
  font-family: 'Oswald' , sans-serif;
  font-size: 1rem;
  outline-style: solid;
  outline-color: white;
} 
h2 { 
  font-family: 'Shadows Into Light' , 'cursive';
  font-size: 0.75rem;
  text-underline-position: below;
 } 
h3 { 
  font-family:  'Rubik' , sans-serif; 
  font-size: 0.5rem;
 }
 h4 {
   font-family: 'Rubik' , sans-serif; 
   font-size: 0.25rem;
 }

 }
blockquote { 
  font-size: 0.5rem;
  color: aqua;
  background-color: teal;
  margin: left;
 }

p  { 
  font-size: 0.25rem;
 }
h1,h2,h3,h4 { 
  color: greenyellow;
 }


