body {
  background-color:blanchedalmond;
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

.section1 {
  grid-area: section1;
}

.section2 {
  grid-area: section2
}

aside {
  grid-area: aside;
}

footer {
  grid-area: footer;
}

@media screen and (max-width:1000px) {
main {
  display: grid;
  grid-template-columns: 200px 1fr 1fr 300px;
  grid-template-rows: 400px 400px 400px;
  grid-gap: 1rem;
  grid-template-areas:
  "header header header header"
  "nav section1 section2 aside"
  "footer footer footer footer"
  ;
}
}


@media screen and (max-width: 700px) {
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1rem;
  grid-template-areas: 
  "header nav"
  "section1 section2"
  "footer aside" ;
}
}