/*
  When you complete this style guide, you will copy the following scope of the code below starting at the font import until the comment that states "STYLES BELOW ARE SPECIFIC TO THE STYLE GUIDE"
*/

/*============
  IMPORT FONTS
  1. Import your own fonts via https://fonts.google.com. Be sure to revise the family names in the CSS and in the HTML
==============*/
@import url('https://fonts.googleapis.com/css2?family=Codystar:wght@300;400&family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Jacques+Francois+Shadow&family=Nanum+Gothic&display=swap');

/*============
  COLOR SCHEME

  2. Define the color scheme within the root element by using CSS variables:

    - '--variableName: color_value;'
    - Use in code later as "color: var(--variableName)"

  The power of CSS variables includes interchangability. For example, when you want to change your color pallette, you only need to change the value defined at the variable.

  For example, if you want to change your background and foreground colors, your primary and secondary colors, etc., locate the variable in the :root, change it, and then that value will be applied anywhere that variable is used in your CSS.

  Define it once, use across your code.
  Change it in one spot, it changes everywhere it's used in your code!

  - See https://randoma11y.com to establish the initial basic 2-color scheme: primary and secondary colors.

  - Make sure the colors are AAA rated, as this meets A11Y standards for color contrasts

  - You can also use Adobe's Color Picker: https://color.adobe.com/create/color-wheel. Just make sure the colors are AAA rated by testing the darkest vs. lightest colors here: https://webaim.org/resources/contrastchecker/

  - Note how the colors shades move from 1-5, i.e., lighter shades to darker shades. To produce shades, use VS Code's color picker tool to produce gradiations of the initial color.

  - If you want //accent// shade(s), feel free to consider additional complimentary colors.
=============*/

:root {
  --backgroundColor: #fff;
  --foregroundColor: #111111;

  --primaryColor: #032CA6;
  --primaryShade1: #d2dbf5;
  --primaryShade2: #92abf5;
  --primaryShade3: #527bf7;
  --primaryShade4: #1751ff;
  --primaryShade5: #082784;

  --secondaryColor: #277FF2;
  --secondaryShade1: #c1d8f5;
  --secondaryShade2: #a1c5f3;
  --secondaryShade3: #4b98fd;
  --secondaryShade4: #0a66de;
  --secondaryShade5: #084ba1;

  --accentColor: #F26241;
  --accentShade1: #f7d9d3;
  --accentShade2: #ffc2b4;
  --accentShade3: #f88f78;
  --accentShade4: #f24c26;
  --accentShade5: #a32306;

  --accent2Color: #05C7F2;
  --accent2Shade1: #d4f4fc;
  --accent2Shade2: #9ae5f6;
  --accent2Shade3: #4bd7f7;
  --accent2Shade4: #05a1c4;
  --accent2Shade5: #016f88;

  --accent3Color: #F2DBAE;
  --accent3Shade1: #fcf4e3;
  --accent3Shade2: #f5d594;
  --accent3Shade3: #fbc964;
  --accent3Shade4: #f1a610;
  --accent3Shade5: #9b6801;

  --neutralShade1: #f2f2f2;
  --neutralShade2: #e8e9e9;
  --neutralShade3: #d1d3d4;
  --neutralShade4: #babdbf;
  --neutralShade5: #808488;
  --neutralShade6: #666a6d;
  --neutralShade7: #4d5052;
  --neutralShade8: #212122;

  --grayColor: #999;
  --lightGrayColor: #ddd;

  /* Fonts */
  --copyFontFamily: "Nanum Gothic", sans-serif;
  --headingFontFamily: "Cormorant Infant", serif;
  --heading1FontFamily: "Jacques Francois Shadow", serif; 
  /* Change default root font size (16px), if desired */
  font-size: 18px;

  /* You can also use it for generally applied sizing and spacing. */
  --borderRadius: 6px;
  --boxShadow: 0 2px 5px rgba(#333, 0.2);
}


/*
  After you define your color schemes above, revise the color and typography rulesets below in accordance with your desired new font families, weights, line-heights, etc. You can even modify which variables are being used.
*/

/* GENERAL COLOR SCHEME */
body {
  background: var(--backgroundColor);
  color: var(--neutralShade8);
}

/*==========
  TYPOGRAPHY
===========*/

/* Font Families */
body { font-family: var(--copyFontFamily); }
h2,h3 { font-family: var(--headingFontFamily); }
h1 {font-family: var(--heading1FontFamily); }

/* Emphasis and Bolding */
strong { font-weight: 500; }
em { font-style: italic; }

/* Font Weight, Sizing & Spacing */
body {
  font-weight: 300;
  line-height: 1.5;
  transition: all 0.3s ease;
}
h1 {
  font-weight: 700;
  font-size: clamp(2.5rem,3rem,3.5rem);
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--primaryColor)
}
h2 {
  font-weight: 500;
  font-size: clamp(1.75rem,2rem,2.5rem);
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--secondaryColor);
}
h3 {
  font-weight: 500;
  font-size: clamp(1.25rem,1.5rem,1.75rem);
  line-height: 1.2;
}
h4 {
  font-weight: 300;
  font-size: clamp(1.25rem,1.5rem,1.75rem);
  line-height: 1.2;
  font-style: italic;
}
h5 {
  font-weight: 300;
  font-size: 1.05rem;
  line-height: 1.2;
}
h6 {
  font-weight: 200;
  font-size: 1.05rem;
  line-height: 1.2;
}

a { font-weight: 500; }

/* Default Font Colors & Styling */

/* default links */
a {
  color: var(--neutralShade8);
  border-bottom: 2px dashed;
  cursor: pointer;
  transition: 0.4s;
}
a:hover {
  color: var(--neutralShade1);
  background-color: var(--primaryColor);
  border-bottom: 3px solid var(--primaryShade5);
  transition: 0.4s;
}

/* primary color links */
a.primary {
  color: var(--primaryColor);
  border-bottom: 2px dashed;
  cursor: pointer;
  transition: 0.4s;
}
a.primary:hover {
  color: var(--primaryShade1);
  background-color: var(--primaryShade4);
  border-bottom: 3px solid var(--secondaryColor);
  transition: 0.4s;
}

/* secondary color links */
a.secondary {
  color: var(--secondaryShade5);
  border-bottom: 2px dashed;
  cursor: pointer;
  transition: 0.4s;
}
a.secondary:hover {
  color: var(--secondaryShade1);
  background-color: var(--secondaryShade5);
  border-bottom: 3px solid var(--primaryColor);
  transition: 0.4s;
}

body {
  max-width: 800px;
  margin: auto;
  padding: 1rem;
}