body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap:10px;
  grid-template-areas: 
  "main main main"
  "aside . nav"
  "aside . nav"
  "footer footer footer"
}

main { grid-area: main;}
nav { grid-area: nav;}
aside { grid-area: aside;}
footer { grid-area: footer;}

