/* First Website Layout Practice 1 */

The Staircase

.container-1 {
  display: flex;
}

.text-1 {
  width: 30rem;
  padding: 5rem;
  margin: auto;
}

.image-box-2 {
  justify-content: flex-end;
  order: 2;
  margin-right: 5px;
}

Switching-It-Up



My Creation