/* 
  GOAL: Create a set of rules that will create a typography scheme.
*/

@import url('https://fonts.googleapis.com/css2?family=Arsenal&family=Dancing+Script&family=Italiana&display=swap');
/* IMPORTS */
/* 
  1. Import 3 fonts from https://fonts.google.com/ 

  Consider what combination of serif and 
  sans-serif fonts to use as a theme.
  
  Normally, we don't use this @import
  method in our published code, since it
  creates a performance-loading issue.
  
  But, it's fine for prototyping and play.
*/

/* GENERAL RULES */
/* 
  2. Set the root font-size
*/

html {
  font-size: 18px; 
  background-image: url("images/ilysm-cake.png");
  background-position: center;
  background-size: cover;
}

/* GENERAL COPY SIZING */
/*
  3. Apply font-sizing, and, where
     desired, font-style, font-weight,
     text-indent, margins, padding,
     line-height, and text-decoration.
     
     Consider how you want to style your 
     vertical spacing, line lengths, 
     and indentations.
  
  Use the relative-length rem value.

  Remember, the:
    - em computes relative to the 
      font-size or width of the direct 
      containing block
    - rem computes relative to the 
      font-size or width of the root 
      element: html.
*/

h1 { font-size: 2.25rem; text-align: center;} 
h2 { font-size: 1.5rem; } 
h3 { font-size: 1.125rem; }
h4 { font-size: 1.05rem; font-style: italic; }
blockquote { font-size: 0.80rem; max-width: 550px; text-align: center; margin: 20px; padding: 20px;}


/* GENERAL FONT FAMILIES */
/*
  4. Define your general rules
  for what types of fonts to
  use with the font-family rule.
*/
h1, h2, h3, h4 { 
  font-family: 'Dancing Script', cursive;
}

#about-our-cakes {
  font-family: 'Arsenal';
}

#cakes {
  font-family: 'Arsenal';
}
/* 
  5. From here on out, write more
     specific rules for particular
     parts of the page and classes 
     of element(s) on the page.

     Be sure to consider writing
     them based on their position
     in the HTML source.

     Consider over-writing the 
     general rules from above to
     create a class distinct from the
     general scheme, but still thematically
     aligned with it. Again, use rules like
     font-sizing, font-style, font-weight,
     text-indent, margins, padding,
     line-height, or text-decoration.

*/

p { 
  line-height: 0.3in;
  font-style: normal;
  font-weight: 400;
}
#about-our-cakes {
width: 900px;
margin-left: 20px;
margin-right: 20px;
}

#cakes {
font-family: 'Arsenal';
width: 900px;
margin-left: 20px;
margin-right: 20px;
}

 .group-of-reviews {
  margin: auto;
  text-align: center;
}

.review-1 {
  float: left;
  font-family: 'Italiana', serif;
  background-color: white;
  border-radius: 20px;
  display: inline-block;
  font-style: italic;
  font-weight: lighter;
  padding-bottom: 1px;
  padding-top: 1px;
  width: 300px;
  
}

.review-2 {
  font-family: 'Italiana', serif;
  background-color: white;
  border-radius: 20px;
  display: inline-block;
  font-style: italic;
  font-weight: lighter;
  padding-bottom: 1px;
  padding-top: 1px;
  width: 300px
}

.review-3 {
  align-content: center;
  font-family: 'Italiana', serif;
  background-color: white;
  border-radius: 20px;
  display: inline-block;
  font-style: italic;
  font-weight: lighter;
  padding-bottom: 1px;
  padding-top: 1px;
  width: 300px;
}

footer p {
  font-size: .7em;
  font-weight: lighter;
}



