/* stepping stones */
div {
    border: 3px black;
    border-style: solid;
    margin: 20px;
    width: 200px;
}

.flexbox-1 {
    display: flex;
    flex-direction: column;
}

.box-2 {
    align-self: center;
}

.box-3 {
    align-self: flex-end;
}

/*switching it up*/
.text {
    width: 200px;
    height: 200px;
}

article {
    display: flex;
    flex-direction: row;
}

.group-2 {
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.footer {
    justify-content: space-around;
}

/*create your own*/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buttons {
    display: flex;
    flex-direction: row;
}

.img-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer-text {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.small-box-text {
    width: 100px;
}