/*
  Flex Demos
  1. Basic
  2 & 3 use Flex Grow, Shrink, and Basis
*/
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
@import url("https://fonts.googleapis.com/css?family=Monoton");

/*=====
GENERAL
=====*/

:root {
  font-size: 18px;
  --laser-lemon: #e6eb3f;
  --violet: #705c90;
  --watermelon: #eb7878;
  --custard: #fdffc6;
}

body {
  background-color: var(--laser-lemon);
  color: var(--violet);
}

/* Utilities */
.fix__clear_float { clear: both; }

/* Typography */
h1,h2,h3 { font-family: Monoton; }
h1 { font-size: 2.75rem; margin: 2.5em 0; }
h2 { font-size: 2.5rem; margin: 1em 0; }

/* Anchors */
.a__cta {
  display: block;
  width: max-content;
  padding: 1.5rem;
  background-color: var(--violet);
  color: var(--custard);
  text-decoration: none;
  font-weight: 600;
  border: var(--custard) 1px solid;
  transition: 0.2s;

  &:hover {
    color: var(--violet);
    background-color: var(--custard);
    border: var(--violet) 1px solid;
    transition: 0.2s;
  }
}

/* Images */

img {
  display: block;
  width: 100%;
  height: 100%;
}

.img_cover {
  object-fit: cover;
}


/* GENERAL CLASSES */
.float_right  { float: right; }
.float_left   { float: left; }
.text_center  { text-align: center; }
.text_right   { text-align: right; }
.text_left    { text-align: left; }

/*====
SHARED
====*/

section {
  padding: 1rem;
  background-color: var(--watermelon);
  font-family: 'Lato';
  font-weight: 300;
  color: var(--custard);
  border: 1px whitesmoke solid;
}

.main__grid_container {
  header { grid-area: header;}
  .first { grid-area: first;}
  .second { grid-area: second;}
  .third {grid-area: third;}
  /* Header, if needed */

  article {
    margin: 1rem 0;
    padding: 1rem;

    &> img {
      width: 225px;
    }
  }

}

.section {
  display: grid;
  grid-template-columns: 50%;
  grid-template-rows: 20%
}

/*=================
@MEDIA QUERIES HERE
NOTE: Your queries need to match the above to ensure that your media query rules overwrite the rules above.
=================*/
@media screen and (min-width: 600px) {
.main__grid_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    "header header"
    "first first"
    "second third"
    "second third";
  font-size: 1.5rem;
}
.img_float_left_shape_circle {
  float: left;
  border-radius: 25%;
  shape-outside: circle();
  margin-right: 1rem;
}
}
@media screen and (min-width: 800px) {
  .main__grid_container {
   display: grid;
   grid-template-columns: 1fr 2fr 2fr;
   grid-template-areas: 
    "header first first"
    "header first first"
    "header second third"
    "header second third";
    font-size: 1.75rem;
  }
  .img_float_right_shape_circle {
    border-radius: 25%;
    shape-outside: circle();
    margin-right: 1rem;
  }
}